

   <!-- HOME -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2348359/pexels-photo-2348359.jpeg);">
  <div class="container justify-content-center">
    <h1>Way better than a rental truck</h1>
    <p>Book unforgettable trucks that get the job done from hosts around the world.</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>

  <!-- Services -->
  <section class="services">
    <div class="container justify-content-center text-center">
      <p  id="call">Hit the road confidently</p>
      <h2 id="call2">Safe car sharing while navigating COVID-19</h2>
    </div>

    <div class="container grid-3 center">
      <div >
        <img src='https://resources.turo.com/f/81934/96x96/e17a795b4d/cleaning_supplies-2x.png' class="avatar-large" />
        <h3 >Clean & disinfected cars</h3>
        <p>The enhanced cleaning policy requires hosts to clean & disinfect their cars so you can feel good behind the wheel.</p>
      </div>
      <div>
        <img src='https://resources.turo.com/f/81934/96x96/85fd9682d1/heart_in_hand-2x.png' class="avatar-large" />
        <h3>Contactless check-in options</h3>
        <p>Maintain physical distance during check-in and checkout with a variety of remote access options.</p>
      </div>
      <div>
        <img src='https://resources.turo.com/f/81934/96x96/abf2cc9d7f/ic-thumbs-up-2x.png' class="avatar-large" />
        <h3>Flexible cancellations</h3>
        <p>Cancel for free up to 24 hours before your trip starts. Plans can change and it helps to be flexible when they do.</p>
        <a class="btn btn-flat" href="trucks_path">Book Now</a>
      </div>
    </div>
  </section>

    <!-- Features -->
  <section class="share_car">
    <div class="container grid-2">
        <div class="col-xs-6 center">

          <h2>Share your car, earn extra cash</h2>
          <p> Simply earn some extra cash by sharing your car on Truckshare whenever you’re not using it.</p>
          <a class="get-started-header" href="#">Book now</a>
        </div>
        <div class="col-xs-6">
           <img src="https://resources.turo.com/f/81934/992x622/be472b1e66/host-illustration-2x-cd48db19.jpg" style="width="300" height="300"">
        </div>
      </div>


  </section>







